{% extends "layout.twig" %}

{% block pagetitle %}Homepage{% endblock %}

{% block page %}


<form class="form-horizontal" role="form">
<div class="row">
  <div class="form-group">
    <label class="col-md-4 control-label"><h1>Mr.| Mme.</h1></label>

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input type="hf" class="form-control" id="inputhf" placeholder="MR/MME">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Nom</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="Nom">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Prénom</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="Prénom">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Adresse 1</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: chantelet 20">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Adresse 2</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: chantelet 20">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>NPA/Ville</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: 1230 NewYork">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Pays</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: Suisse">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Email</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: name.surname@mail.com">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Montant</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="$ | CHF | Euro">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2">
  <a href="#" class="btn btn-primary"><i class="text-align-left"></i><h4>ENVOYER</h4></a>
  </div>
  </div>
  <div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
  <p class="aaa">En nous communiquant vos coordonnées, vous donnez votre accord pour recevoir des informations sur MSF. Selon la loi suisse sur la protection des données, vos données sont traitées de manière confidentielle et ne sont pas communiquées à des tiers. Pour en savoir plus sur la protection des données, visitez www.msf.ch/confidentialite.</p>
  </div>
  </div>
</form>


{% endblock %}