{% extends "layout.twig" %}

{% block pagetitle %}Homepage{% endblock %}

{% block page %}



<div class="row clg">
	<div class="col-md-6"> 
		<button type="button" class="btn btn-default">FAIRE<br>UN<br>DON</button>
		<div class="article">
			<h1>EBOLA: MSF N'A PAS À REMPLACER LES ETATS</h1>
			<h3>24.11.2014 - GUINÉE</h3>
			<h2>ARTICLES</h2>
			<p>Très récemment, le député européen Charles Goerens, rapporteur pour Ebola à la Commission du développement du Parlement européen, a déclaré que cette épidémie était « la première grande crise... <a href="#">plus >></a></p>
			<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://lorempixel.com/315/200/cats" style="width: 315px; height: 150px;">
		</div>

		<div class="article">
			<h1>EBOLA: MSF N'A PAS À REMPLACER LES ETATS</h1>
			<h3>24.11.2014 - GUINÉE</h3>
			<h2>ARTICLES</h2>
			<p>Très récemment, le député européen Charles Goerens, rapporteur pour Ebola à la Commission du développement du Parlement européen, a déclaré que cette épidémie était « la première grande crise... <a href="#">plus >></a></p>
			<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://lorempixel.com/315/200/cats" style="width: 315px; height: 150px;">
		</div>
	</div>


	<div class="col-md-6"> 
		<div class="article">
			<h1>EBOLA: MSF N'A PAS À REMPLACER LES ETATS</h1>
			<h3>24.11.2014 - GUINÉE</h3>
			<h2>ARTICLES</h2>
			<p>Très récemment, le député européen Charles Goerens, rapporteur pour Ebola à la Commission du développement du Parlement européen, a déclaré que cette épidémie était « la première grande crise... <a href="#">plus >></a></p>
			<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://lorempixel.com/315/200/cats" style="width: 315px; height: 150px;">
		</div>

		<div class="article">
			<h1>EBOLA: MSF N'A PAS À REMPLACER LES ETATS</h1>
			<h3>24.11.2014 - GUINÉE</h3>
			<h2>ARTICLES</h2>
			<p>Très récemment, le député européen Charles Goerens, rapporteur pour Ebola à la Commission du développement du Parlement européen, a déclaré que cette épidémie était « la première grande crise... <a href="#">plus >></a></p>
			<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://lorempixel.com/315/200/cats" style="width: 315px; height: 150px;">
		</div>
	</div>


</div>












{% endblock %}