<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block pagetitle %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/msf.css">
</head>
<body>

    <script src="../js/vendors.min.js"></script>
    <script src="../js/main.min.js"></script>



    <div class="container">

        <img src="../img/logos.jpg">
        <div class="row nav">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown </b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown </a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown </a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li> 

            <li><a href="#">Another action</a></li> 

            <li><a href="#">Something else here</a></li> 

            <li><a href="#">Separated link</a></li> 

            <li><a href="#">One more separated link</a></li> 
        </ul>
    </li>


    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
      </div>
  </form>
</div>

</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</div>
</nav>

<div class="row header"> 
  <div class="col-md-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="item">
          <img src="../img/crsl_1.jpg">
          <h4>Vivre avec le diabète au Liban est une lutte silencieuse pour des milliers de Syriens. | 19.11.2014</h4>
      </div>
      <div class="item">
          <img src="../img/crsl_2.jpg">
          <h4>Depuis novembre 2011, MSF vient en aide aux réfugiés syriens au Liban qui ont fui par milliers les violences dans leur pays</h4>
      </div>
      <div class="item active">
          <img src="../img/crsl_3.jpg">
          <h4>A Tripoli, Liban, plus de 40 000 consultations médicales ont été dispensées au cours de l’année 2013</h4>
      </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
</div>
</div>


<div class="row">

    <div class="col-md-8">

        {% block page %}
        {% endblock %}

    </div>

    <div class="col-md-4">

        <h1 class="agenda-title">Agenda</h1>

        <div class="media medias-agenda">

          <div class="agenda-date">

            <div class="pull-left agenda">
              <h4>NOV</h4>
              <h1>26</h1>
          </div>

          <div class="media-body">
              <h3>78, RUE DE LAUSANNE - 1202 GENÈVE</h3>
              <h1>Portes ouvertes legs</h1>
              <p>Vous souhaitez des compléments d’informations sur la possibilité de faire un legs ou un héritage en faveur de MSF?</p>
          </div>

      </div>

      <div class="agenda-date">

        <div class="pull-left agenda">
          <h4>NOV</h4>
          <h1>26</h1>
      </div>

      <div class="media-body">
          <h3>78, RUE DE LAUSANNE - 1202 GENÈVE</h3>
          <h1>Portes ouvertes legs</h1>
          <p>Vous souhaitez des compléments d’informations sur la possibilité de faire un legs ou un héritage en faveur de MSF?</p>

      </div>
    
    </div>




</div>

 <button type="button" class="btn btn-primary">Postes ouverts</button>




</div>

</div>


<footer>
  <div class="row footer">
    <div class="col-md-3"> 
      <h4>coordonées</h4> <p>CCP 12-100-2<br>Banque: UBS SA, CH - 1211 Genève 2<br>Titulaire: Médecins Sans Frontières<br>No de compte: 240-376066.00Q<br>IBAN: CH18 0024 0240 3760 6600 Q<br>BIC: UBSWCHZH80A</p>
  </div>
  <div class="col-md-3"> 
      <h4>Médecis sans frontières</h4><p>78, rue de Lausanne<br>CP 116<br>1211 Genève 21<br>Tel: +41 (0)22 849 84 84<br>
      Fax: +41 (0)22 849 84 88<br>office-gva@geneva.msf.org</p>
  </div>
  <div class="col-md-3"> 
      <h4>Médecins sans frontières</h4><p>Kanzleistrasse 126<br>CP 1942<br>8026 Zürich<br>
      Tel: +41 (0)44 385 94 44<br>Fax: +41 (0)44 385 94 45<br>office-zuh@geneva.msf.org</p>
  </div>
  <div class="col-md-3"> 
      <h4>Rester informer</h4><p>S'abonner a la Newsletter<br><input type="text" class="form-control" placeholder="Email"><br>s'abonner</p>
  </div>
</div><!-- /.row -->
</footer><!-- /.footer -->

































</div>





</body>

</html>