{% extends "layout.twig" %}

{% block pagetitle %}Homepage{% endblock %}

{% block page %}
<div class="row">
<div class="col-md-5">
<button type="button" class="btn btn-default">FAIRE <br>UN</br>DON</button>
</div>
</div>

  <div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../img/1.jpg" alt="Some cats image">
      <div class="caption">
        <p class="dd">Programme de santé maternelle en Ethiopie</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../img/2.jpg" alt="Some cats image">
      <div class="caption">
        <p class="dd">Irak: dans le Kurdistan avec les déplacés irakiens</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../img/3.jpg" alt="Some cats image">
      <div class="caption">
        <p class="dd">Gaza au milieu des ruines</p>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../img/4.jpg" alt="Some cats image">
      <div class="caption">
        <p class="dd">Premier accouchement dans la maternité du camp de Domiz </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../img/5.jpg" alt="Some cats image">
      <div class="caption">
        <p class="dd">RCA : écouter et soigner les survivants de violence sexuelle</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../img/6.jpg" alt="Some cats image">
      <div class="caption">
        <p class="dd">Ebola: un jour à Monrovia</p>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../img/7.jpg" alt="Some cats image">
      <div class="caption">
        <p class="dd">RCA: Dépistage du paludisme à Bangui</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../img/8.jpg" alt="Some cats image">
      <div class="caption">
        <p class="dd">RCA: L’enclave musulmane de Carnot</p>
      </div>
    </div>
  </div>
   <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../img/9.jpg" alt="Some cats image">
      <div class="caption">
        <p class="dd">Deux jours de lutte contre l'Ebola</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}