{% extends "layout.twig" %}

{% block pagetitle %}Nos projets{% endblock %}

{% block page %}
 <div class="component">

	<button type="button" class="btn btn-default">FAIRE<br> UN <br> DON</button>

 	<div class="full">
		<h1>EBOLA: MSF N'A PAS À REMPLACER LES ETATS</h1>
		<h3>24.11.2014 - GUINÉE</h3>
		<h2>ARTICLES</h2>
			<p>Très récemment, le député européen Charles Goerens, rapporteur pour Ebola à la Commission du développement du Parlement européen, a déclaré que cette épidémie était « la première grande crise... <a href="#">plus >></a></p>
		<img class="media-object" src="http://lorempixel.com/1000/150/cats" style="width: auto; ">
	</div>
	<div class="full">
		<h1>EBOLA: MSF N'A PAS À REMPLACER LES ETATS</h1>
		<h3>24.11.2014 - GUINÉE</h3>
		<h2>ARTICLES</h2>
			<p>Très récemment, le député européen Charles Goerens, rapporteur pour Ebola à la Commission du développement du Parlement européen, a déclaré que cette épidémie était « la première grande crise... <a href="#">plus >></a></p>
		<img class="media-object" src="http://lorempixel.com/1000/150/cats" style="width: auto; ">
	</div>
	<div class="full">
		<h1>EBOLA: MSF N'A PAS À REMPLACER LES ETATS</h1>
		<h3>24.11.2014 - GUINÉE</h3>
		<h2>ARTICLES</h2>
			<p>Très récemment, le député européen Charles Goerens, rapporteur pour Ebola à la Commission du développement du Parlement européen, a déclaré que cette épidémie était « la première grande crise... <a href="#">plus >></a></p>
		<img class="media-object" src="http://lorempixel.com/1000/150/cats" style="width: auto; ">
	</div>

</div>

{% endblock %}