@charset "UTF-8";

/*doc
---
title: Default media
name: a-media
category: Components - Media
---

```html_example

<div class="article">
<h1>EBOLA: MSF N'A PAS À REMPLACER LES ETATS</h1>
<h3>24.11.2014 - GUINÉE</h3>
<h2>ARTICLES</h2>
<p>Très récemment, le député européen Charles Goerens, rapporteur pour Ebola à la Commission du développement du Parlement européen, a déclaré que cette épidémie était « la première grande crise... <a href="#">plus >></a></p>
<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://lorempixel.com/315/200/cats" style="width: 315px; height: 150px;">
</div>

```
*/

.article {
  
  padding-bottom: 15px;
  width:320px;
}

.article h1{
  
margin-bottom: 0px;

}

.article h3 {
  
margin-top: 3px;

}

.article h2 {
  
margin-bottom: 4px;

}






/*doc
---
title: Media list
name: b-media-list
category: Components - Media
---

```html_example
 
<div class="full">
<h1>EBOLA: MSF N'A PAS À REMPLACER LES ETATS</h1>
<h3>24.11.2014 - GUINÉE</h3>
<h2>ARTICLES</h2>
<p>Très récemment, le député européen Charles Goerens, rapporteur pour Ebola à la Commission du développement du Parlement européen, a déclaré que cette épidémie était « la première grande crise... <a href="#">plus >></a></p>
<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://lorempixel.com/315/200/cats" style="width: 635px; height: 150px;">
</div>


```
*/



.full {
  margin-bottom: 20px;

  padding: 0px;
  width:auto;
}

.full h1{
  
margin-bottom: 0px;

}

.full h3 {
  
margin-top: 3px;

}

.full h2 {
  
margin-bottom: 4px;

}
.full img {
  
max-width:100%;

}
