@charset "UTF-8";

/*doc
---
title: Default thumbnail
name: a-thumbnail
category: Components - Thumbnails
---

```html_example
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/300/300/cats" alt="Some cats image">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/300/300/cats" alt="Some cats image">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/300/300/cats" alt="Some cats image">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/300/300/cats" alt="Some cats image">
    </a>
  </div>
</div>
```
*/


/*doc
---
title: Image de la page média
name: b-custom-content
category: Components - Thumbnails
---

```html_example
<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="http://lorempixel.com/300/300/cats" alt="Some cats image">
      <div class="caption">
        <p>Légende de l'image/ galerie multimedia</p>
      </div>
    </div>
  </div>
</div>
```
*/

.thumbnail {
  background-color: $gris-bloctitre;
  color: #fff!important;
  border-radius: none;
  padding: none;
}