@charset "UTF-8";

/*doc
---
title: Carousel
name: a-carousel
category: JavaScript - Carousel
---

```html_example
 
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 
  <div class="carousel-inner">
    <div class="item">
      <img src="http://lorempixel.com/900/300/cats">
      <h4>Vivre avec le diabète au Liban est une lutte silencieuse pour des milliers de Syriens. | 19.11.2014</h4>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/900/300/cats">
       <h4>Vivre avec le diabète au Liban est une lutte silencieuse pour des milliers de Syriens. | 19.11.2014</h4>
    </div>
    <div class="item active">
      <img src="http://lorempixel.com/900/300/cats">
       <h4>Vivre avec le diabète au Liban est une lutte silencieuse pour des milliers de Syriens. | 19.11.2014</h4>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
```
*/


.carousel-inner {
position: relative;
overflow: hidden;
width: 100%;
}


.carousel-inner h4 {
background: #404040;
padding: 6px;
margin: 0;
height: 30px;

}


