@charset "UTF-8";

/*doc
---
title: Formulaire
name: a-basic-table
category: Layout - Tables
---

```html_example
<form class="form-horizontal" role="form">
<div class="row">
  <div class="form-group">
    <label class="col-md-4 control-label"><h1>Mr.| Mme.</h1></label>

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input type="hf" class="form-control" id="inputhf" placeholder="MR/MME">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Nom</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="Nom">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Prénom</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="Prénom">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Adresse 1</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: chantelet 20">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Adresse 2</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: chantelet 20">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>NPA/Ville</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: 1230 NewYork">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Pays</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: Suisse">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Email</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="ex: name.surname@mail.com">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputPassword" class="col-md-4 control-label"><h1>Montant</h1></label>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input  class="form-control" id="inputPassword" placeholder="$ | CHF | Euro">
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2">
  <a href="#" class="btn btn-primary"><i class="text-align-left"></i><h4>ENVOYER</h4></a>
  </div>
  </div>
  <div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
  <p class="aaa">En nous communiquant vos coordonnées, vous donnez votre accord pour recevoir des informations sur MSF. Selon la loi suisse sur la protection des données, vos données sont traitées de manière confidentielle et ne sont pas communiquées à des tiers. Pour en savoir plus sur la protection des données, visitez www.msf.ch/confidentialite.</p>
  </div>
  </div>
</form>

```
*/
.aaa {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 50px;
}

.btn-primary {
  width: 120px;
}

.form-control {
  border-radius: 0;
  height: 26px;
}

h4 {
  text-align: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*doc
---
title: Striped table
name: b-striped-table
category: Layout - Tables
---

```html_example
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>@jdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Walter</td>
      <td>Smith</td>
      <td>@wsm</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Edmure</td>
      <td>Fish</td>
      <td>@tul</td>
    </tr>
  </tbody>
</table>
```
*/

/*doc
---
title: Bordered table
name: c-bordered-table
category: Layout - Tables
---

```html_example
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>@jdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Walter</td>
      <td>Smith</td>
      <td>@wsm</td>
    </tr>
  </tbody>
</table>
```
*/

/*doc
---
title: Hover table
name: d-hover-table
category: Layout - Tables
---

```html_example
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>@jdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Walter</td>
      <td>Smith</td>
      <td>@wsm</td>
    </tr>
  </tbody>
</table>
```
*/

/*doc
---
title: Condensed table
name: e-condensed-table
category: Layout - Tables
---

```html_example
<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Doe</td>
      <td>@jdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Walter</td>
      <td>Smith</td>
      <td>@wsm</td>
    </tr>
  </tbody>
</table>
```
*/

/*doc
---
title: Highlight table
name: f-highlight-table
category: Layout - Tables
---

```html_example
<table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Column heading</th>
          <th>Column heading</th>
          <th>Column heading</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <td>1</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="success">
          <td>3</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="info">
          <td>5</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="warning">
          <td>7</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="danger">
          <td>9</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
      </tbody>
    </table>
```
*/